<%- include ('../partials/header') %>

    <!-- <%= InventoryList %> -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <a href="/inventory/add" class="btn btn-primary align-self-end" role="button">                
                <i class="fa-solid fa-square-plus"></i>
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Item</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Status</th>
                    <th>Size</th>
                    <th class="text-center">Tags</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let i = 0; i < InventoryList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= InventoryList[i].item %></td>
                        <td class="text-center"><%= InventoryList[i].qty %></td>
                        <td class="text-center"><%= InventoryList[i].status %></td>
                        <td>
                            Hight: <%= InventoryList[i].size.h %><br/>
                            Width: <%= InventoryList[i].size.w %><br/>
                            UOM: <%= InventoryList[i].size.uom %><br/>
                        </td>
                        <td class="text-center"><%= InventoryList[i].tags %></td>
                        <td class="text-center">
                            <a href="/inventory/edit/<%= InventoryList[i]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/inventory/delete/<%= InventoryList[i]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ('../partials/footer') %>