<%- include ('../partials/header') %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Item Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="number" class="form-control"
                    id="priceTextField"
                    placeholder="Enter a price"
                    name="price" 
                    value="<%= item.price %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Status</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter a status"
                    name="status" 
                    value="<%= item.status %>"
                    >
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="titleTextField">title</label>
                            <input type="text"
                            class="form-control"
                            id="titleTextField"
                            placeholder="Item for Sale"
                            name="title" 
                            value="<%= item.description.title %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="categoryTextField">Category</label>
                            <input type="text" class="form-control"
                            id="categoryTextField"
                            placeholder="elctronics"
                            name="category" 
                            value="<%= item.description.category %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="conditionTextField">Condition</label>
                            <input type="text" class="form-control"
                            id="conditionTextField"
                            placeholder="Used"
                            name="condition"
                            value="<%= item.description.condition %>"
                            required>
                        </div>
                    </div>                    
                </div>                
                <br />
                <div class="form-group">
                    <label for="descriptionTextArea">Description <span class="text-muted">[Enter an item description]</span></label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter an item description"
                    name="body"
                    value="<%= item.description.bodyDesc %>"
                    required>
                    </textarea>
                </div>
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/ads/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ('../partials/footer') %>