<!--
	Comp-229 Web Application Development Group 3
	Chafanarosa Buy and Sell Used Products
	This Website will enable users to post and view advertisements for used		
	products
	
	Developers
	Fatimah Binti Yasin – 301193282
	Nandagopan Dilip – 301166925
	Chantelle Lawson – 301216199
	Ronald Jr Ombao – 301213219
	Santiago Sanchez Calle – 300648373

	Copyright All Rights Reserved
-->
<%- include ('../partials/header') %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Item Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="number" class="form-control"
                    id="priceTextField"
                    placeholder="Enter a price"
                    name="price" 
                    value="<%= item.description.price %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Status</label>
                    <select name="status" 
                            id="statusTextField"
                            class="form-select">
                        <option value="Available"  <%= item.status === 'Available' ? 'selected': '' %>>Available</option>
                        <option value="Sold" <%= item.status === 'Sold' ? 'selected': '' %>>Sold</option>
                    </select> 
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="titleTextField">title</label>
                            <input type="text"
                            class="form-control"
                            id="titleTextField"
                            placeholder="Item for Sale"
                            name="title" 
                            value="<%= item.description.title %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="categoryTextField">Category</label>
                            <input type="text" class="form-control"
                            id="categoryTextField"
                            placeholder="electronics"
                            name="category" 
                            value="<%= item.description.category %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="conditionTextField">Condition</label>
                            <input type="text" class="form-control"
                            id="conditionTextField"
                            placeholder="Used"
                            name="condition"
                            value="<%= item.description.condition %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="descriptionTextArea">Description <span class="text-muted">[Enter an item description]</span></label>
                            <textarea type="text" class="form-control"
                            id="descriptionTextArea"
                            placeholder="Enter an item description"
                            name="bodyDesc"
                            value="<%= item.description.bodyDesc %>"
                            required>
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adActiveDate">Active Date</label>
                    <input type="date" class="form-control"
                    id="adActiveDate"
                    name="activeDate"
                    <% if(item.activeDate) { %>
                        value="<%= moment(item.activeDate).format("YYYY-MM-DD") %>"
                    <% } %>
                    >
                </div>
                <div class="form-group">
                    <label for="adExpiryDate">Expiry Date</label>
                    <input type="date" class="form-control"
                    id="adExpiryDate"
                    name="expiryDate"
                    <% if(item.expiryDate) { %>
                        value="<%= moment(item.expiryDate).format("YYYY-MM-DD") %>"
                    <% } %>
                    >
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/ads/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ('../partials/footer') %>