<%- include ('../partials/header') %>

    <!-- <%= AdList %> -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <a href="/ads/add" class="btn btn-primary align-self-end" role="button">                
                <i class="fa-solid fa-square-plus"></i>
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Item</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Status</th>
                    <th>Description</th>
                    <th class="text-center">Price</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let i = 0; i < AdList.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= AdList[i].item %></td>
                        <td class="text-center"><%= AdList[i].datePosted %></td>
                        <td class="text-center"><%= AdList[i].status %></td>
                        <td>
                            Title: <%= AdList[i].description.title %><br/>
                            Body: <%= AdList[i].description.bodyDesc %><br/>
                            Category: <%= AdList[i].description.category %>
                            Condition: <%= AdList[i].description.condition %>
                            Price: <%= AdList[i].description.price %><br/>
                        </td>
                        <td class="text-center"><%= AdList[i].description.price %></td>
                        <td class="text-center">
                            <a href="/ads/edit/<%= AdList[i]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/ads/delete/<%= AdList[i]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ('../partials/footer') %>